<div class="input-wrapper">
  @if (label) {
    <label 
      label 
      class="input-label" 
      [class.input-label--required]="required()">
      {{ label() }}
      @if (required()) {
        <span 
          required 
           class="input-label__asterisk">*
          </span>
      }
    </label>
  }

  <div [ngClass]="containerClasses()">
    @if (leftIcon) {
      <span 
        class="input-icon input-icon--left" 
        [innerHTML]="getLeftIconSvg()">
      </span>
    }

    <input
      class="input-field"
      [type]="effectiveType()"
      [value]="value()"
      [placeholder]="placeholder || ''"
      [disabled]="isDisabled()"
      [readonly]="readonly()"
      [attr.maxlength]="maxLength"
      [attr.minlength]="minLength"
      [pattern]="pattern"
      [autocomplete]="autocomplete || 'off'"
      [required]="required()"
      (input)="onInput($event)"
      (focus)="onFocus($event)"
      (blur)="onBlur($event)"
    />

    @if (canTogglePassword()) {
      <button
        type="button"
        class="input-icon input-icon--right input-icon--clickable"
        [innerHTML]="getRightIconSvg()"
        (click)="togglePasswordVisibility()"
        [attr.aria-label]="showPassword() ? 'Hide password' : 'Show password'"
        tabindex="-1"
      ></button>
    }

    @if (rightIcon && !canTogglePassword()) {
      <span 
        class="input-icon input-icon--right" 
        [innerHTML]="getRightIconSvg()">
      </span>
    }

    @if (hasError()) {
      <span 
        class="input-icon input-icon--error" 
        [innerHTML]="getErrorIconSvg()">
      </span>
    }
  </div>

  <div class="input-footer">
    <div class="input-messages">
      @if (hasError()) {
        <span class="input-error">
          {{ errorMessage }}
        </span>
      }
    </div>

    @if (hint && !hasError()) {
      <span class="input-hint">
        {{ hint() }}
      </span>
    }

    @if (showCharacterCount() && maxLength) {
      <span 
        class="input-character-count"> 
        {{ characterCount() }}/{{ maxCharacters() }} 
      </span>
    }
  </div>
</div>
