:host {
  display: 'block w-100%';
}

input {
  padding: 10px 12px;
  border-radius: 6px;
  border: none;
  font-size: 14px;
  width: 100%;
  color: white;
}
input:focus {
  outline: none;
}

ng-icon {
  color: #94a3b8 !important;
}
